.logout-btn{
    padding: 2% 1% 1% 1%;
}

.logout-btn button{
    border: none;
    background-color: #E56655;
    margin: auto;
}

.logout-btn button:hover{
    border: none;
    background-color: #df9c93;
}

.items-border{
    border: 1px solid #BCBCBC;
    border-radius: 7px;
    margin: 1%;
    margin-bottom: 0%;
    width: 98%;
}
.items-border span{
    color: #252525;
    font-size: 18px;
    font-family: 'Exo 2';
}
.personal-data-table{
    margin: 2% 1%;
}
.personal-data-value input{
    margin-left: 8%;
}

.read-only-input{
    border: none;
}
.read-only-input::-webkit-input-placeholder {
    border: none;
}
.read-only-input:focus {
    border: none;
}

#cencel-cabinet-data-btn a{
    background-color: #E56655;
}
#cencel-cabinet-data-btn a:hover{
    background-color: #df9c93;
}

#submit-cabinet-data-btn{
    border-radius: 0%;
    background-color: #51A468;
    color: white;
}
#submit-cabinet-data-btn:hover{
    background-color: #9AC4A6;
}