/* exo-2-300 - latin_cyrillic */
@font-face {
     font-family: 'Exo 2';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-300.svg#Exo2') format('svg'); /* Legacy iOS */
   }
   /* exo-2-regular - latin_cyrillic */
   @font-face {
     font-family: 'Exo 2';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-regular.svg#Exo2') format('svg'); /* Legacy iOS */
   }
   /* exo-2-500 - latin_cyrillic */
   @font-face {
     font-family: 'Exo 2';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-500.svg#Exo2') format('svg'); /* Legacy iOS */
   }
   /* exo-2-700 - latin_cyrillic */
   @font-face {
     font-family: 'Exo 2';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/exo-2-v19-latin_cyrillic/exo-2-v19-latin_cyrillic-700.svg#Exo2') format('svg'); /* Legacy iOS */
   }

   /* jura-700 - cyrillic */
@font-face {
     font-family: 'Jura';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/jura-v23-cyrillic/jura-v23-cyrillic-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/jura-v23-cyrillic/jura-v23-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/jura-v23-cyrillic/jura-v23-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/jura-v23-cyrillic/jura-v23-cyrillic-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/jura-v23-cyrillic/jura-v23-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/jura-v23-cyrillic/jura-v23-cyrillic-700.svg#Jura') format('svg'); /* Legacy iOS */
   }