.category_li {
    list-style: none;
    font-weight: 500px;
    font-size: 18px;
    color: #3e77aa;
    cursor: pointer;
}

.category_li:hover {
    color: #E66655 !important;
}

a {
    cursor: pointer !important;
}

.card {
    margin-bottom: 12px;
}

.main-icon {
max-width: 40px;
max-height: 30px;
}

header{
    height: 8.5vh;
}

main{
    min-height: 91.5vh;
}