.product {
    max-width: 250px !important;
    max-height: 400px !important;
    margin: 7px !important;
    padding: 2px !important;
}

.product-name {
    color: black;
}

.category_li {
    list-style: none;
    font-weight: 500px;
    font-size: 18px;
    color: #3e77aa;
    cursor: pointer;
}

.category_li:hover {
    color: #f84147 !important;
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
}

a:hover {
     text-decoration: none !important;
     color: darkblue;
}

 .card {
     margin-bottom: 12px;
 }

 .main-icon {
    max-width: 40px;
    max-height: 30px;
  }